.name {
  font-family: "niveau-grotesk", sans-serif;
  font-weight: 700;
  font-style: italic;
}
html {
  background-color: rgb(199, 219, 215);
}
.avocado {
  background-color: #efebe4;
}
.vote {
  background-color: #e2dddb;
}
.peterpiper {
  background-color: white;
}
.shake {
  background-color: #f3eee5;
}
.dumpster {
  background-color: rgb(225, 225, 225);
}
.blackjack {
  background-color: #ffffff;
}

body {
  max-width: 1000px;
  margin: auto;
  margin-bottom: 50px;
  display: flex;
  flex-direction: column;
}
p {
  font-size: 1.25rem;
  font-family: "niveau-grotesk", sans-serif;
  font-weight: 400;
  font-style: normal;
}
h1 {
  font-family: "niveau-grotesk", sans-serif;
  font-weight: 700;
  font-style: normal;
}
h2 {
  font-family: "niveau-grotesk", sans-serif;
  font-weight: 500;
  font-style: italic;
}

h3 {
  font-family: "niveau-grotesk", sans-serif;
  font-weight: 500;
  font-style: italic;
  margin: 0px;
}
h4 {
  font-family: "niveau-grotesk", sans-serif;
  font-weight: 300;
  font-size: 1.25rem;
  margin: 0px;
}

header {
  display: flex;
  gap: 10%;
  background-color: rgb(199, 219, 215);
  z-index: 100;
}
.navbar {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 20px 0px;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
}

.navitems {
  display: flex;
  gap: 20px;
  justify-content: center;
  position: sticky;
  align-items: center;
}
.navitem {
  color: black;
  font-family: "niveau-grotesk-small-caps", sans-serif;
  font-weight: 700;
  font-style: normal;
  text-decoration: none;
  position: relative;
  padding-bottom: 4px;
}

.navitem:active {
  color: cornflowerblue;
}

.navitem::before {
  content: "";
  position: absolute;
  right: 0;
  bottom: 0;
  width: 0;
  height: 2px;
  background-color: rgb(0, 0, 0);
  transition: width 0.25s ease-out;
}
.navitem:hover::before {
  width: 100%;
  right: auto;
  left: 0;
}

/* ===============  INDEX  =============== */

.homediv {
  margin: 60px auto 0px auto;
}

.hometop {
  margin: 0px 25%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
}

.projdiv {
  margin-top: 100px;
  max-width: 1000px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 30px;
}

.projcard {
  position: relative;
  width: 300px;
}
.projimg {
  display: block;
  width: 100%;
  height: auto;
}
.overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: #ffff;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  opacity: 0;
  transition: opacity 0.25s;
}
.link {
  width: 100%;
  height: auto;
}

.overlay:hover {
  opacity: 1;
}

.text {
  font-size: 1rem;
  text-align: center;
  color: black;
}

.text p {
  font-size: 1.25rem;
  margin: 0px 10%;
}

.texth1 {
  font-size: 1.25rem;
  text-align: left;
}

/* ===============  PROJECT PAGES  =============== */

.projpage {
  margin: 100px auto;
  max-width: 900px;
}

.projtop {
  margin: 50px 0px;
  display: flex;
  gap: 60px;
}

.projhead h1 {
  margin: 0px;
}

.projhead h2 {
  margin: 0px;
}
.projlinks {
  display: flex;
  gap: 20px;
}

.projlinks a {
  font-family: "niveau-grotesk", sans-serif;
  font-weight: 700;
  font-style: normal;
  text-decoration: none;
  color: cadetblue;
}

.projlinks a:hover {
  color: black;
}

.projtech h1 {
  font-size: 1.5rem;
  border-bottom: 2px solid cadetblue;
  padding-bottom: 0.5rem;
}
.projtech h3 {
  list-style: none;
  font-family: "niveau-grotesk", sans-serif;
  font-weight: 500;
  margin: 0.5rem 0rem;
  font-size: 1rem;
}
.projrow {
  display: flex;
  gap: 50px;
  margin: 50px 0px;
  justify-content: center;
}
.projimgrow {
  display: flex;
  justify-content: space-around;
  margin: 50px 0px;
}

.imgtall {
  width: 300px;
}

.imgwide {
  width: 420px;
}

.fakelogos {
  display: flex;
  justify-content: space-between;
  margin: 50px 0px;
}
.fakelogo {
  width: 200px;
}

.icon {
  height: 20px;
}

.projlogo {
  display: flex;
  justify-content: center;
}

.votelogo {
  width: 400px;
}

.stack {
  display: flex;
  justify-content: space-between;
  margin: auto 25%;
}

.aboutsection {
  margin: 5% 25%;
  display: flex;
  gap: 50px;
  align-items: center;
}
.aboutsection h1 {
  font-size: 1.5rem;
  margin: 0px;
}

/* =================== RESUME ==================== */

.resumediv {
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: fit-content;
  margin-top: 120px;
}
.resumecontainer {
  display: flex;
  flex-direction: column;
  gap: 30px;
}
.resumehead {
  display: flex;
  gap: 20px;
  justify-content: space-between;
  align-items: center;
  border-bottom: 2px solid rgb(199, 219, 215);
  padding-bottom: 30px;
}
.resumebottom {
  margin: auto;
}
.resumehead div {
  display: flex;
  gap: 20px;
  align-items: center;
}
.resumehead h1,
a {
  margin: 0px;
}
/* .resumehead button,
.resumebottom button {
  border-style: none;
  background-color: rgb(135, 158, 153);
  padding: 8px 12px;
  border-radius: 3px;
} */
.resumehead a,
.resumebottom a {
  text-decoration: none;
  font-family: "niveau-grotesk", sans-serif;
  font-weight: 900;
  font-size: 1rem;
  color: white;
  background-color: rgb(135, 158, 153);
  padding: 8px 12px;
  border-radius: 3px;
  letter-spacing: 1px;
}
.resumehead a:hover,
.resumebottom a:hover {
  background-color: rgb(84, 104, 99);
  letter-spacing: 2px;
}

.resumetech {
  display: flex;
  justify-content: space-between;
}
.resumetech div {
  width: 320px;
}
.resumesection {
  display: flex;
  justify-content: space-between;
  border-bottom: 2px solid rgb(199, 219, 215);
  padding-bottom: 30px;
}
.resumesectiontitle {
  font-size: 1.5rem;
  margin: 0px;
}
.resumesub {
  display: flex;
  flex-direction: column;
  width: 490px;
  gap: 10px;
}
.resumesub2 {
  display: flex;
  flex-direction: column;
  gap: 10px;
}
.resumeitem {
  display: flex;
  flex-direction: column;
  gap: 2px;
}
.resumeitemtop {
  display: flex;
  gap: 15px;
}
.resumeyear {
  font-size: 1rem;
  margin: 0px;
  font-style: italic;
  font-weight: 500;
}
.resumetitle {
  font-size: 1rem;
  margin: 0px;
}
.resumetitle2 {
  font-family: "niveau-grotesk-small-caps", sans-serif;
  font-size: 1rem;
  margin: 0px;
  font-style: italic;
  font-weight: 500;
}
.resumedescription {
  font-weight: 400;
  font-size: 1rem;
  margin: 0px;
}
@media screen and (max-width: 970px) {
  .resumesection {
    gap: 20px;
    width: auto;
  }
}
@media screen and (max-width: 800px) {
  .resumehead {
    flex-direction: column;
  }
  .resumesection {
    flex-direction: column;
  }
  .resumesectiontitle {
    text-align: center;
    font-size: 2rem;
  }
  .resumeitemtop {
    flex-direction: column;
    gap: 5px;
  }
  .resumeitem {
    gap: 10px;
  }
  .resumesub {
    width: auto;
  }
  .resumesub,
  .resumesub2 {
    gap: 30px;
  }
  .resumeyear,
  .resumetitle,
  .resumetitle2,
  .resumedescription {
    font-size: 1.5rem;
  }
  .resumehead a,
  .resumebottom a {
    font-size: 1.5rem;
  }
}
@media screen and (max-width: 600px) {
  .resumehead div {
    flex-direction: column;
  }
  .resumesectiontitle {
    font-size: 2rem;
  }
  .resumeyear,
  .resumetitle,
  .resumetitle2,
  .resumedescription {
    font-size: 1.5rem;
  }
  /* .resumehead a,
  .resumebottom a {
    font-size: 2rem;
  } */
}

@media screen and (max-width: 970px) {
  body {
    width: 90%;
  }
}

@media screen and (max-width: 500px) {
  p {
    font-size: x-large;
  }
  .navbar {
    justify-content: space-between;
    padding: 20px 20px;
    gap: 0px;
  }
  .navbar h3 {
    font-size: 1.5rem;
  }
  .navitems {
    gap: 10px;
  }
  .navitem {
    font-size: 1.5rem;
  }
  .hometop {
    margin: 0% 5%;
  }
  .stack {
    margin: 0% 5%;
    flex-direction: column;
  }
  .projtech h1 {
    font-size: xx-large;
  }
  .projtech h3 {
    font-size: x-large;
  }
  .aboutsection {
    flex-direction: column;
    gap: 20px;
  }
  .aboutsection h1 {
    font-size: xx-large;
  }
  .aboutsection h4 {
    font-size: x-large;
  }
  .aboutsection a {
    font-size: xx-large;
  }
  .projpage {
    margin: 20% 5%;
  }
  .projtop {
    flex-direction: column;
    gap: 5%;
  }
  .projlinks {
    flex-direction: column;
    font-size: x-large;
    margin-top: 5%;
  }
  .projrow {
    flex-direction: column;
    align-items: center;
  }
  .projrow h3 {
    font-size: xx-large;
  }
  .projimgrow {
    flex-direction: column;
    align-items: center;
    gap: 20px;
  }
  .imgwide {
    width: screen;
  }
  .fakelogos {
    align-items: center;
    flex-direction: column;
    gap: 50px;
  }
  .resume {
    width: 100vw;
  }
  /* .socialicons {
    display: flex;
    flex-direction: column;
  } */
}
/* =================== DESIGN PAGES ==================== */
.designhtml {
  background-color: #ffffff;
}
.design {
  max-width: 1224px;
  margin: auto;
  margin-bottom: 50px;
  display: flex;
  flex-direction: column;
  background-color: #ffffff;
}

.designpage {
  margin: 100px auto;
}

.designtop {
  margin: 50px 0px;
  display: flex;
  gap: 60px;
  justify-content: center;
}

.designhead {
  width: 70%;
}

.designhead h1 {
  margin: 0px;
}

.designlinks {
  display: flex;
  gap: 20px;
}

.designlinks a {
  font-family: "niveau-grotesk", sans-serif;
  font-weight: 700;
  font-style: normal;
  text-decoration: none;
  color: cadetblue;
}

.designlinks a:hover {
  color: black;
}

.designscope {
  width: fit-content;
}

.text_area {
  display: flex;
  flex-direction: row;
  width: 1224px;
  justify-content: space-between;
}
.text {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  width: 75%;
  margin: 50px auto 50px auto;
}

.text h2 {
  margin-top: 0px;
  font-size: 1.5rem;
}
.text p {
  /* column-count: 2;
  column-width: 300px;
  column-gap: 24px;
  column-fill: auto;
  width: 800px;
  height: 210px; */
  margin: 0px;
  text-align: left;
}
.caption {
  align-self: flex-start;
  margin: 0px;
  font-size: 1rem;
  margin-top: 30px;
}
.images {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 24px;
  margin-top: 24px;
}
.imagerow {
  display: flex;
  gap: 24px;
}

@media screen and (max-width: 800px) {
  .design {
    width: 100%;
    margin-top: 60px;
  }
  .designpage {
    margin: 10% 5%;
  }
  .designtop {
    flex-direction: column;
    gap: 5%;
  }
  .designhead {
    width: 100%;
  }
  .designlinks {
    flex-direction: column;
    font-size: x-large;
    margin-top: 5%;
  }
  .imagerow {
    width: 100%;
    flex-direction: column;
    align-items: center;
  }
  .images > img {
    width: 100%;
    height: auto;
  }
  .imagerow > img {
    width: 100%;
    height: auto;
  }
}

/* Niveau Grotesk Regular
font-family: "niveau-grotesk", sans-serif;
font-weight: 400;
font-style: normal;
Niveau Grotesk Regular Italic
font-family: "niveau-grotesk", sans-serif;
font-weight: 400;
font-style: italic;
Niveau Grotesk Medium
font-family: "niveau-grotesk", sans-serif;
font-weight: 500;
font-style: normal;
Niveau Grotesk Medium Italic
font-family: "niveau-grotesk", sans-serif;
font-weight: 500;
font-style: italic;
Niveau Grotesk Bold
font-family: "niveau-grotesk", sans-serif;
font-weight: 700;
font-style: normal;
Niveau Grotesk Bold Italic
font-family: "niveau-grotesk", sans-serif;
font-weight: 700;
font-style: italic;
Niveau Grotesk Black
font-family: "niveau-grotesk", sans-serif;
font-weight: 900;
font-style: normal;
Niveau Grotesk Black Italic
font-family: "niveau-grotesk", sans-serif;
font-weight: 900;
font-style: italic;
Niveau Grotesk Regular Small Caps
font-family: "niveau-grotesk-small-caps", sans-serif;
font-weight: 400;
font-style: normal;
Niveau Grotesk Bold Small Caps
font-family: "niveau-grotesk-small-caps", sans-serif;
font-weight: 700;
font-style: normal; */
